@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 2vh 0 2vh;
  background-color: #d3d4d4;
  border-bottom: 1.3px #d3d4d4 solid;
}

.logo {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.logo a {
  text-decoration: none;
}

.menu__item {
  display: none;
}

#menu_responsive {
  display: none;
}

.menu__item__responsive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #d3d4d4;
  border-bottom: 1.3px #d3d4d4 solid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.menu__item__responsive a {
  padding: 1rem;
  text-decoration: none;
  font-weight: 400;
  color: #35373a;
}

.menu__item__responsive a:hover {
  padding: 1rem;
  background-color: black;
  color: white;
}

.icon {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 1rem;
}

.header_info-main {
  display: block;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
}

.header_info-sub {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 5px;
}

.product {
  text-align: center;
  padding: 1rem;
}

.product-image {
  padding: 1rem;
  margin: 0 0 -5px 0;
}

.product-image img {
  height: 10rem;
}

.product-temp {
  background-color: rgba(255, 255, 255, 0.5);
  width: 75%;
  margin: 40px auto;
  border: 1px solid #d3d4d4;
  padding: 15px;
}

.product-temp label {
  padding: 4px;
  margin: 10px 0px;
  width: 100%;
  border-radius: 3px;
  border: none;
  margin-top: 30px;
  font-size: 1em;
}

.product-temp textarea {
  padding: 4px;
  margin: 10px 0px;
  width: 100%;
  border-radius: 3px;
  border: none;
  font-size: 0.79em;
  height: 15vh;
}

.product-temp input {
  padding: 4px;
  margin: 10px 0px;
  width: 100%;
  border-radius: 3px;
  border: none;
  font-size: 0.79em;
  border: none;
}

.product-temp input[type=file]:hover {
  background-color: #e6e6e6;
}

.pro-sub {
  padding: 4px;
  margin: 10px 0px;
  width: 100%;
  border-radius: 3px;
  border: none;
  font-size: 1em;
  cursor: pointer;
  display: block;
  background-color: #cccccc;
  text-align: center;
  text-decoration: none;
  color: black;
  width: 35%;
}

.pro-sub:hover {
  background-color: #d9d9d9;
}

.prod-tit {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin: 5vh auto;
}

.product_container {
  margin: 1rem;
}

@media only screen and (min-width: 560px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10vh;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 2vh 0 2vh;
    background-color: #d3d4d4;
    border-bottom: 1.3px #d3d4d4 solid;
  }
  .logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .logo a {
    text-decoration: none;
  }
  .menu__item {
    display: inline-block;
  }
  .menu__item a {
    padding: 2.8vh;
    text-decoration: none;
  }
  .menu__item a:hover {
    color: #7a7878;
    border-bottom: 5px rgba(128, 128, 128, 0.678) solid;
    padding: 2.8vh;
  }
  #menu_responsive {
    display: none;
  }
  .menu__link {
    color: #35373a;
  }
  .icon {
    display: none;
  }
  .header_info-main {
    display: block;
    text-align: center;
    font-size: 60px;
    font-weight: 400;
  }
  .header_info-sub {
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 5px;
  }
  .products {
    padding: 0 14rem;
  }
  .product {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .product-image {
    -webkit-box-flex: 4;
        -ms-flex-positive: 4;
            flex-grow: 4;
  }
  .content {
    padding: 1rem;
    -webkit-box-flex: 6;
        -ms-flex-positive: 6;
            flex-grow: 6;
  }
  .content button:hover {
    cursor: pointer;
  }
  .pro-sub {
    width: 20%;
  }
  .product_container {
    margin: 2rem 14rem;
  }
}

@media only screen and (min-width: 1140px) {
  .pro-sub {
    width: 10%;
  }
}

@media only screen and (max-width: 560px) {
  /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  /*  apply a natural box layout model to all elements  */
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10vh;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 2vh 0 2vh;
    background-color: #d3d4d4;
    border-bottom: 1.3px #d3d4d4 solid;
  }
  .logo {
    -webkit-box-flex: 4;
        -ms-flex-positive: 4;
            flex-grow: 4;
  }
  .logo a {
    text-decoration: none;
  }
  .menu__item {
    display: none;
  }
  #menu_responsive {
    display: none;
  }
  .menu__item__responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10vh;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #d3d4d4;
    border-bottom: 1.3px #d3d4d4 solid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .menu__item__responsive a {
    padding: 1rem;
    text-decoration: none;
    font-weight: 400;
    color: #35373a;
  }
  .menu__item__responsive a:hover {
    padding: 1rem;
    background-color: black;
    color: white;
  }
  .icon {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-right: 1rem;
  }
  .header_info-main {
    display: block;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
  }
  .header_info-sub {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 5px;
  }
  .product {
    text-align: center;
    padding: 1rem;
  }
  .product-image {
    padding: 1rem;
    margin: 0 0 -5px 0;
  }
  .product-image img {
    height: 10rem;
  }
  .product-temp {
    background-color: rgba(255, 255, 255, 0.5);
    width: 75%;
    margin: 40px auto;
    border: 1px solid #d3d4d4;
    padding: 15px;
  }
  .product-temp label {
    padding: 4px;
    margin: 10px 0px;
    width: 100%;
    border-radius: 3px;
    border: none;
    margin-top: 30px;
    font-size: 1em;
  }
  .product-temp textarea {
    padding: 4px;
    margin: 10px 0px;
    width: 100%;
    border-radius: 3px;
    border: none;
    font-size: 0.79em;
    height: 15vh;
  }
  .product-temp input {
    padding: 4px;
    margin: 10px 0px;
    width: 100%;
    border-radius: 3px;
    border: none;
    font-size: 0.79em;
    border: none;
  }
  .product-temp input[type=file]:hover {
    background-color: #e6e6e6;
  }
  .pro-sub {
    padding: 4px;
    margin: 10px 0px;
    width: 100%;
    border-radius: 3px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    display: block;
    background-color: #cccccc;
    text-align: center;
    text-decoration: none;
    color: black;
    width: 35%;
  }
  .pro-sub:hover {
    background-color: #d9d9d9;
  }
  .prod-tit {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    margin: 5vh auto;
  }
  .product_container {
    margin: 1rem;
  }
}

body {
  background-color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
}

.header {
  height: 100vh;
  background-size: cover;
  background-position: center top;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(245, 246, 252, 0.52)), to(rgba(117, 19, 93, 0.73))), url("https://media.glassdoor.com/l/60/74/cc/c5/open-space-workplace.jpg");
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url("https://media.glassdoor.com/l/60/74/cc/c5/open-space-workplace.jpg");
}

.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(245, 246, 252, 0.52)), to(rgba(117, 19, 93, 0.73))), url("https://media.glassdoor.com/l/60/74/cc/c5/open-space-workplace.jpg");
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url("https://media.glassdoor.com/l/60/74/cc/c5/open-space-workplace.jpg");
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header_info {
  position: relative;
  color: white;
  text-transform: uppercase;
}

.logo_link {
  font-weight: 600;
  color: #35373a;
}

.icon {
  font-weight: 600;
  color: #35373a;
}

.btn {
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
  border-radius: 2px;
  cursor: pointer;
}

.btn-main {
  width: 140px;
  padding: 20px;
  background-color: limegreen;
}

.btn-info {
  width: 130vw;
  padding: 10px 0 10px 30px;
  background-color: limegreen;
}

.header_link {
  margin-top: 10px;
  position: relative;
  top: 28px;
}

.product-image {
  padding: 1rem;
  margin: 0 0 -5px 0;
}

.product-image img {
  height: 10rem;
}

.name {
  font-size: 25px;
  line-height: 32px;
}

.name a {
  text-decoration: none;
  color: black;
}

.name a :hover {
  cursor: pointer;
}

.description {
  font-size: 18px;
  color: #504f4f;
}

.title {
  padding: 3rem 0;
  text-align: center;
  font-size: 35px;
}

.btn-sm {
  border: 0;
  border-radius: 3px;
  height: 30px;
}

.upvotes {
  margin-right: 1rem;
  background-color: limegreen;
  color: white;
}

.comments {
  margin-right: 1rem;
  background-color: #d8d8d7;
}

.share {
  margin-right: 1rem;
  background-color: white;
  color: black;
}

.updatebtn {
  margin-right: 1rem;
  color: white;
  background-color: brown;
}

.deletebtn {
  background-color: crimson;
  color: white;
}

.product_container {
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: whitesmoke;
  font-size: 0.8em;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.product_container .produc {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem;
}

.product_container .produc .comment {
  height: 100px;
}

.product_container .image {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.product_container .image .product_image {
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.product_container .image .product_image img {
  height: 300px;
}

.product_container .image .product_owner {
  padding: 0;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  padding: 1rem;
}

.product_container .description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.product_container .buttons {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.product_container .commentss {
  background-color: white;
}

.product_container .commentss .enter input {
  width: 100%;
  height: 80px;
  border: black 1px solid;
}
/*# sourceMappingURL=style.css.map */