/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.menu{
    display: flex;
    height: 10vh;
    align-content: space-around;
    flex-wrap: wrap;
    padding: 0 2vh 0 2vh;
    background-color: #d3d4d4;
    border-bottom: 1.3px $navcolor solid;
}
.logo{
    flex-grow: 4;
    a{
        text-decoration: none
       }
}
.menu__item{
    display: none;
}
#menu_responsive{
    display: none;
}
.menu__item__responsive{
    display: flex;
    height: 10vh;
    flex-wrap: wrap;
    background-color: #d3d4d4;
    border-bottom: 1.3px $navcolor solid;
    flex-direction: column;
    height: 100%;
    a{
        padding: 1rem;
        text-decoration: none;
        font-weight: 400;
        color: $fontColor;
    }
    a:hover{
        padding: 1rem;
        background-color: black;
        color: white;
    }
}
.icon{
    flex-grow: 1;
    padding-right: 1rem;
}
.header_info-main{
    display: block;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
}
.header_info-sub{
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 5px;
}
.product{
    text-align: center;
    padding: 1rem;
}
.product-image {
    padding: 1rem;
    margin: 0 0 -5px 0;
    img{
        height: 10rem;
    }
}
// create product
.product-temp {
    background-color: rgba(white, 0.5);
    width: 75%;
    margin: 40px auto;
    border: 1px solid $navcolor;
    padding: 15px;
    label {
        padding: 4px;
        margin: 10px 0px;
        width: 100%;
        border-radius: 3px;
        border: none;
        margin-top: 30px;
        font-size: 1em;
    }
    textarea {
        padding: 4px;
        margin: 10px 0px;
        width: 100%;
        border-radius: 3px;
        border: none;
        font-size: 0.79em;
        height: 15vh;
    }
    input {
        padding: 4px;
        margin: 10px 0px;
        width: 100%;
        border-radius: 3px;
        border: none;
        font-size: 0.79em;
        border: none;
    }

    input[type=file]:hover{
        background-color: darken(white, 10%);
    }
}

.pro-sub{ 
    padding: 4px;
    margin: 10px 0px;
    width: 100%;
    border-radius: 3px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    display: block;
    background-color: darken(white, 20%);
    text-align: center;
    text-decoration: none;
    color: black;
    width: 35%
}

.pro-sub:hover {
    background-color: darken(white, 15%);
}
.prod-tit{
    text-align: center;
    color: rgba(black, 0.5);
    margin: 5vh auto;
}
// end of add product

.product_container {
    margin: 1rem;
}

