$fontColor:#484848;
$navcolor:#d3d4d4;
$primaryColor: #424e64;
$secondaryColor: #b4b5b6;
$backgroundColor: whitesmoke;
$fontColor: #35373a;
$defaultFont:  'Lato', sans-serif;
$normalWeight: 300;
$boldWeight:700;

$gutter: 2%;