@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
@import "variables";

@import "reset";

@import "small-default";

@media only screen and (min-width: 560px) {
    @import "medium";
} // end media query

@media only screen and (min-width: 1140px) {
    @import "large";
} // end media query

@media only screen and (max-width: 560px) {
    @import "small-default";
}
body{
    background-color: $backgroundColor;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}
.header{
    height: 100vh;
    background-size: cover;
    background-position: center top;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url("https://media.glassdoor.com/l/60/74/cc/c5/open-space-workplace.jpg");
}
.header{
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url("https://media.glassdoor.com/l/60/74/cc/c5/open-space-workplace.jpg");
}
.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.header_info{
    position: relative;
    color: white;
    text-transform: uppercase;
}
.logo_link{
    font-weight: 600;
    color: $fontColor;
}
.icon{
    font-weight: 600;
    color: $fontColor;
}
.btn{
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
}
.btn-main{
    width: 140px;
    padding: 20px;
    background-color: limegreen;
}

.btn-info{
    width: 130vw;
    padding: 10px 0 10px 30px;
    background-color: limegreen;
}
.header_link{
    margin-top: 10px;
    position: relative;
    top: 28px;
}
.product-image {
    padding: 1rem;
    margin: 0 0 -5px 0;
    img{
        height: 10rem;
    }
}
.name {
    font-size: 25px;
    line-height: 32px;
    a{
        text-decoration: none;
        color: black;
        :hover{
            cursor: pointer;
        }
    }
}
 .description{
     font-size: 18px;
     color: rgb(80, 79, 79);
 }
 .title{
     padding: 3rem 0;
     text-align: center;
     font-size: 35px;
 }
 .btn-sm {
    border: 0;
    border-radius: 3px;
    height: 30px;
 }
 .upvotes{
     margin-right: 1rem;
     background-color: limegreen;
     color: white;
 }
 .comments{
    margin-right: 1rem;
    background-color: rgb(216, 216, 215);
 }
 .share{
     margin-right: 1rem;
     background-color: white;
     color: black;
 }
 .updatebtn{
    margin-right: 1rem;
    color: white;
    background-color: brown;
 }
 .deletebtn{
     background-color: crimson;
     color: white;
 }
 
 .product_container {
    line-height: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: whitesmoke;
    font-size: 0.8em;
    align-items: stretch;
    .produc {
        flex-grow: 1;
        padding: 1rem;
        .comment {
          height: 100px;
        }
    }
    .image {
        flex-grow: 3;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        .product_image{
            padding: 0;    
            flex-grow: 1;
            img{
                height: 300px;
            }
        }
        .product_owner {
            padding: 0;
            flex-grow: 4;
            padding: 1rem;
        }
    }
    .description {
        flex-grow:1;
    }
    .buttons {
        flex-grow:2;
    }
    .commentss {
        background-color: white;
        .enter{
            input {
                width: 100%;
                height: 80px;
                border: black 1px solid;
            }
        }
    }
}
